.doc-block {
    h2 {
      font-size: 40px;
      letter-spacing: 0.38px;
      line-height: 53px;
      margin-bottom: 70px;
    }

    p {
      font-size: 17px;
      letter-spacing: 0.03px;
      line-height: 22px;
      margin-bottom: 40px;
    }
  }